<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161367488776-lcnbt6h02u19rlm21v2um1p3d8mmkfff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161367488776-lcnbt6h02u19rlm21v2um1p3d8mmkfff</string>
	<key>API_KEY</key>
	<string>AIzaSyDDFr4TPaqncKTnGCrBFKSzhTA2ua0oZwI</string>
	<key>GCM_SENDER_ID</key>
	<string>161367488776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFinanceApp</string>
	<key>PROJECT_ID</key>
	<string>w-safe-83af7</string>
	<key>STORAGE_BUCKET</key>
	<string>w-safe-83af7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161367488776:ios:4c82ff1b0b0570264454bd</string>
</dict>
</plist>